org: dylancabezas
service: api-alumnos-rds-v2

provider:
  name: aws
  region: us-east-1
  runtime: python3.13
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::744127473797:role/LabRole
  environment:
    DB_SECRET_ARN: ${sls:stage}/alumnos
    DB_NAME: ${sls:stage}

functions:
  listar:
    handler: ListarAlumno.lambda_handler
    package:
      include:
        - ListarAlumno.py
        - pymysql/**
    events:
      - http:
          path: /alumnos/listar
          method: get
          cors: true
